PyPDF2
langchain
python-docx
numpy
pandas
torch
streamlit
langchain_community
sentence-transformers
faiss-cpu
pdf2image
pytesseract
langchain
unstructured[all-docs]
pydantic
lxml
langchainhub
# ! apt install tesseract-ocr
# ! apt-get install poppler-utils
